/*Colors and fonts*/

body{
	background-color: #BFDCE5  ;
	color: black;
	line-height: 1 ; 
	text-align: center;
	font-family:"Cormorant Garamond" ;
	font-weight: 700;
	font-size:16px;

	}

	h1,h2{
		  font-family:"Quicksand";
		  font-weight: 500;	 
		  color: #1b262c;
		  }

	a{
	color: #3282b8 ;
	text-decoration: none;
	transition: color .5s ease;
	 }

	a:hover{
	color:black;
			}


/*Shortcuts*/

.text-center{
	text-justify:center;
			}

.card-white{
	background-color: #EEEEEE  ;
    padding: 25px;
    margin: 40px 20px;
    box-shadow: 0px 10px 30px rgb(0 0 0);
    border-radius: 5px;
			}

.parent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
		}
	.div1 { grid-area: 1 / 1 / 2 / 2; }
	.div2 { grid-area: 1 / 2 / 2 / 3; }
	.div3 { grid-area: 2 / 1 / 3 / 2; }
	.div4 { grid-area: 2 / 2 / 3 / 3; }

.img{
	width: 320px;
	border-radius: 20%;
	box-shadow: 5px 5px 3px black;
	}


#alexandre{
	width: 200px;
	border-radius: 5% ;
		  }

#general{
	width: 1000px;
	margin: 10px auto;
		}

